<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content--> 
                <div class="form-container">
                    <button (click)="loginGoogle()" class="google">Login or Signup With Google</button>
                    <button routerLink="/email-login" class="email">Email</button>
                    <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">No account? <strong>Create one here</strong></a>
                  </div>

            </div>
        </div><!-- End -->

    </div>
</div>