.padding{
    padding: 10px;
}
.aligncenter{
    text-align: center;
    
}
.message{
    background-color: rgb(14, 112, 204);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // border: solid 1px rgb(206, 87, 87);
    color: white;
    // padding: 7px;
    // border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    width: 60%;
    text-align: center;

}
.floatright{
    float: right;
}
.deletemargin{
    margin-left: 8px;
}
.marTop{
    margin-top: 5%;
}
.floatRight{
    float: right;
    margin-top: 10px;
}
.marleftbtn{
    margin-left: 10px;
}
.col-md-12{
    padding: 5px;
}

.textAlign{
    text-align: center;
    background-color: black;
    color: white;
    padding: 14px;
}
.footer{
    background-color: black;
    margin-top: 22px;
    padding: 3px;
    position: sticky;
    }